<div class="col-sm-12">
  <button type="button" class="btn btn-primary pull-right" [routerLink]="['/admin/new-testimonials']">Add New</button>
</div>
<div class="clearfix"></div>
<ngx-datatable
  class="material"
  [rows]="testimonialList"
  [loadingIndicator]="loadingIndicator"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [selected]="selected"
  [selectionType]="'single'"
  (dblclick)='onRowSelect($event)'>
</ngx-datatable>
