$topnav-background-color: #fff;
:host {
    .navbar {
        background-color: $topnav-background-color;
        box-shadow: 0 0 3px 2px #c3c3c1;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

.logo{
    width: 235px;
    height: 148px;
    background-size: 78%;
    background-position: center center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-color: #fff;
    border-bottom: #ccc solid 1px;
}
