
/* about-section*/
.aboutus{
    margin-top:2%;
    margin-bottom:2%;
}
.aboutus p{
    text-align: justify;
}
.askhaed .custom-body h2{
    font-size: 29px;
    font-weight: 700;
    color: #000;
}
.askhaed .custom-body p{
    font-size: 16px;
    font-weight: 500;
    color: #676565;
}

.brochsurebtn .askbuton{
    background-color: #b79d52;
    color: #fff;
    outline-style: none !important;
    box-shadow: none;
}

.service_block{
  min-height: 120px;
}

.section-service img{
  width: auto !important;
  margin: 0 auto;
}
/* about-section*/







/* paralax-section*/

.colofade{
  background-color: #edebeb;
  height: 500px;
}

.parallax{
  background-image:url('/assets/images/paralbanner.jpg');
  height: 500px;
  margin-top:2%;
  width: 100%;


  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.customparalasec{
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.owl-stage-outer{
  cursor: pointer;
}
.owl-one .owl-item p{
  margin-top: 13px;
  /* padding: 10px 10px 0px 62px; */
  text-align: center;
}

.owl-item.firstActiveItem{
  background-color: #1e4464 !important;
  color: #fff;
}

.customparalasec  .owl-one  .owl-item{
  height: 50px;
  background-color: #ffffff;
  outline: 1px solid #ccc;
}


.customparalasec .owl-one .owl-nav{
  display: block !important;
  position: absolute;
  height: 51px;
  width: 100%;
  bottom: 0;
  top: 0%;
  z-index: 1;
}

.customparalasec  .owl-one {
  width: 95%;
  margin:0 auto;
}
.customparalasec .owl-one  .owl-stage-outer{
  z-index: 2;
}



/*
.customparalasec  .owl-one  .owl-nav .owl-next {
  width: 22px;
  height: 50px;
  position: absolute;
  top: 0%;
  right: -25px;
  display: block!IMPORTANT;
  border: 0px solid black;
  background-color: #fff;
  outline-style: none !important;
}
.customparalasec  .owl-one  .owl-nav .owl-prev {
  width: 22px;
  height: 50px;
  position: absolute;
  top: 0%;
  left: -25px;
  display: block !IMPORTANT;
  border:0px solid black;
  background-color: #fff;
  outline-style: none !important;
} */


.product-sectoon{
  margin: 0% auto;
  text-align: center;
  box-shadow: 2px 2px 1px 0px rgba(140, 140, 140, 0.12);
  background-image: url('/assets/images/home_2.png');
  height:300px;
  border:1px solid #ccc;
}



.owl-prodcut .owl-item{
  background-color: #fff;
  margin-top: 25px;
}

.owl-prodcut .owl-stage-outer .owl-stage .owl-item .item .product-sectoon img{
  width: 300px !important;
  margin:0 auto;
}

.product-sectoon span{
  bottom: 0px;
  background: rgb(183, 157, 82);
  color: #f1f1f1;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}



.custom-home-item .item{
  background: #000;
  height: 50px;
}

.project-menu-container{
  height: 50px;
  background-color: #ffffff;
  outline: 1px solid #ccc;
  color: #212529;
}

.menuActive{
  background-color: #1e4464 !important;
  color: #fff !important;
}

.project-menu-title p{
  text-align: center;
  line-height: 50px;
}


.custom-home_slider .owl-nav button, .custom-home_slider .owl-nav button.disabled{
  width: 22px;
  height: 50px;
  position: absolute;
  top: 0px;
  display: block !important;
  border:none !important;
  background-color: #fff !important;
  outline-style: none !important;
  margin: 0px !important;
}

.custom-home_slider .owl-nav button:hover{
  color: #000 !important;
}

.custom-home_slider .owl-nav .owl-prev, .custom-home_slider .owl-nav .owl-prev{
  left: -22px;
}

.custom-home_slider .owl-nav .owl-next, .custom-home_slider .owl-nav .owl-next{
  right: -22px;
}
.custom-home_slider {
  margin-left: 18px;
}

.project-holder{
  margin: 0% auto;
  text-align: center;
  box-shadow: 2px 2px 1px 0px rgba(140, 140, 140, 0.12);
  background-size: cover !important;
  height: 300px;
  border: 1px solid #ccc;
}

.project-holder span {
  bottom: 0px;
  background: rgb(183, 157, 82);
  color: #f1f1f1;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}
/* paralax-section*/

/*services section */
.section-s {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.servicesection{
    margin-top:2%;
    clear: both;
    margin-bottom: 2%;
}
.section-s h5{
  text-transform: uppercase;
    font-weight: 700;
    color: #1e4464;
        margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
.section-s a{
    border-radius: 3px;
    border:1px solid #b79d52;
    color:#b79d52;
    box-shadow: none;

}
.section-s a:focus{

    box-shadow: none;
    outline-style: none;

}

.section-s a:hover{
    background-color: #b79d52;
    color:#fff;
}

.servicesection ul > li.nav-item > a.nav-link{
    background: #b9a463;
    color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

.servicesection ul > li.nav-item> a.nav-link.active {
    background: rgb(154, 119, 25);
    color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}
.servicesection .tab-content{
    min-height: 500px;
}

.servicesection  .nav-justified{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.servicesection .servicesce p{
    text-align: justify;
    font-size: 14px;
}
/* services*/


/* partner-section*/

.partnersection{

  margin-bottom: 2%;
  background: url('/assets/images/partner.png');
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px 0px 15px 0px;

}

.cs .askhaed .custom-body p{
color: #b79d52;
}

.cs .askhaed .custom-body h2{
      font-size: 29px;
  font-weight: 700;
  color: #b79d52;
}



.owl-two .item{
  background-color: #fff;
  padding: 25px;

}

.owl-two  .owl-item img{
      width: auto !important;
  margin: 0 auto;
}

/* partner section */
.custom-partner-block{
  width: 100%;
  display: block;
  height: 180px;
  background-size: cover !important;
}


/*team section */
.team-owl{
  margin-bottom: 20px;
}

.custom-team-container{
  height: 200px;
}

.custom-team-block{
  width: 100%;
  display: block;
  height: 180px;
  background-size: cover !important;
}


.custom-team-title{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #e4e4e3;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}


@media (max-width: 992px)
{
.partnersection {
    min-height: auto;
}
}

@media (max-width: 767px)
{
.section-s {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
}
