
.main-container {
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: #fbfbfb;
    z-index: 1000;
    min-height: 100vh;
    border-left: 1px solid rgb(232, 232, 232) !important;
}
.Dashboard-title {
    background-color: #f7f7f7;
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
}

/* theme config   */
.btn-primary{
    background-color: #b7a35e !important;
    border-color: #a18e4a !important;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
 }
.btn-primary:focus{
    border-color: #a18e4a !important;
    box-shadow:none;
    outline: none;
}
.card{
    border: 1px solid rgb(232, 232, 232) !important;
    border-radius: 0px !important;
    box-shadow: 1px 3px 7px 0px #dedede !important;
}
.icon-btn{
    width: 35px;
    height: 35px;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 10px;
    box-shadow: none;
    border: none;
    color: #665921 !important;
    cursor: pointer;
}
.icon-btn i{ 
    display: table-cell;
    vertical-align: middle;
}
.icon-btn:focus{
    outline: none;
}
.datatable-body-cell-label a{
    color: #5b4f24 !important;
}
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
    background-color: #dfdddd !important;
}
.ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #404040 !important;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
