.mapseec iframe{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: -7px;
}

.contactus p{
    text-align: justify;
    font-size:14px;
}
.contactdetail .contact-1{
    margin-bottom: 15px;
}

.contactdetail .contact-1 button{
      height: 50px;
    width: 50px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #b9a463;
    box-shadow: none;
    border: 6px solid #fff;
    outline-style: none !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: inline-block;

}
.contactdetail .contact-1 button >i {

    color: #fff;
    font-size: 20px;

}
.contactdetail .contact-1 h5{
    display: inline-block;
    font-size: 16px;
    padding-left: 15px;
}

.contactdetail .contact-1 a{
  color:#212529;
}

.imagesc img{
    margin-bottom: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}


.formsec p{
font-size:14px;
}

.formsec .form-control{
       height: 50px;
    border-radius: 0px;
    border: none;
    /* box-shadow: 0 0 2px #00000066; */
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    outline-style: none;
}
.formsec textarea{
    width: 100%;
    height: 200px;
     border-radius: 0px;
    border: none;
    /* box-shadow: 0 0 2px #00000066; */
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    resize: none;
      outline-style: none;
          padding: .375rem .75rem;
              color: #495057;

}

.submiitsec button{
    display: block;
    background: #b9a463;
    border-radius: 0px;
    /* min-height: 50px; */
    vertical-align: middle;
    padding: 10px;
    color: #fff;
    outline-style: none;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    border: none;
    width: 100%;
}


.submiitsec a:focus{
     box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

/* ie -edge hacks */
.formsec .form-group input::-ms-clear {
    display: none;
}

.cntbg {
    background-color: #f7f7f7;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none !important;
}
