<div class="height-wrapper">
<section  *ngIf="contactus_section_content">
<div class="container">
  <div class="headdingsection">
               <ul class="list-unstyled askhaed">
                  <li class="media">
                     <img class="align-self-end mr-3" src="assets/images/head_leftimg.jpg" alt="   ">
                     <div class="media-body custom-body align-self-center">
                        <p class="mb-0">
                         <!-- {{ contactus_section_content?.properties.intro_title }} -->
                        </p>
                        <h2 class="mt-1 mb-0">{{ pageContent?.title }}</h2>
                     </div>
                  </li>
               </ul>
            </div>
</div>


<div class="container">

  <div class="row">

  <div class="col-md-6">
    <div class="contactus" id="contact-descptn">
  <p  [innerHTML]="pageContent?.description">
  </p>

  </div>
  </div>
  <div class="col-md-6">
    <div class="formsec">
    <form [formGroup]="form" >
      <div @fade class="alert alert-success" *ngIf="errorMsg == false">Danke, dass Sie sich mit uns in Verbindung gesetzt haben.</div>
      <div class="alert alert-danger" *ngIf="errorMsg == true">Konnte keine Verbindung herstellen. Bitte versuche es erneut.</div>
      <div class="alert alert-info" *ngIf="loading">Senden Sie Ihre Anfrage. Warten Sie mal....</div>

      <div class="form-group">
        <input name="firstName"  formControlName="firstName" type="text" class="form-control"  placeholder="Vorname Nachname">
        <div class="form-control-feedback text-danger">
          <ng-container  *ngIf="form.get('firstName').errors && form.get('firstName').touched">
            <small *ngIf="form.get('firstName').errors.required">Bitte geben Sie Vorname ein</small>
            <small *ngIf="form.get('firstName').errors.minlength">Name muss sein {{ form.get('firstName').errors.minlength.requiredLength }} Zeichen lang</small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <input name="email" type="email" formControlName="email" class="form-control"  placeholder="Email">
        <div class="form-control-feedback text-danger">
          <ng-container  *ngIf="form.get('email').errors && form.get('email').touched">
            <small *ngIf="form.get('email').errors.required">Bitte geben Sie eine Email ein!</small>
            <small *ngIf="form.get('email').errors.pattern">E-Mail-Muster ist nicht korrekt</small>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <input type="text" name="contact" formControlName="contact" class="form-control"  placeholder="Kontakt">
        <div class="form-control-feedback text-danger"  >
          <ng-container *ngIf="form.get('contact').errors && form.get('contact').touched">
            <small *ngIf="form.get('contact').errors.required">Kontaktnummer erforderlich </small>
            <small *ngIf="form.get('contact').errors?.pattern">Bitte geben Sie eine gültige Telefonnummer ein</small>
          </ng-container>
        </div>
      </div>

       <div class="form-group">
          <textarea placeholder="Nachricht" name="message" formControlName="message"></textarea>
      </div>

      <div class="submiitsec">
        <button (click)="sendMail()" [disabled]="!form.valid" type="button" class="btn submitbtn">Senden</button>
      </div>
    </form>
  </div>
  </div>
  </div>
  </div>


</section>
<section *ngIf="settingData">
    <div class="mapseec">
       <iframe [src]="settingData.embedMap | safe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </section>
  </div>