
/* navbar section */

.asknavbar{
    color: #fff;
    z-index: 1;
    margin-top: 30px;
    position: absolute;
    z-index: 99;
}  
.navbar-light .navbar-toggler-icon{
    background-image: url('../../../../assets/images/toggle.png');
}
.asknavbar  .navbar-toggler {
    color: #fff;
    border-color: #fff;
    border-radius: 0px;
}
.asknavbar .navbar-brand {
    margin-right: 0px;
    background: white;
    padding: 0px;
    box-shadow: 0 0 5px 1px rgb(88, 80, 80);
    z-index: 1;
}        
.asknavbar .customcolor{
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 5px 1px rgb(88, 80, 80);
}

.asknavbar .customcolor .nav-item {
    font-size: 15px;
    word-wrap: break-word;
    min-width: 100px;
    margin: 0px 15px;
} 

.asknavbar .customcolor .nav-item:hover {
    color: #b9a560;
} 
.asknavbar .customcolor .nav-item > a{
    border-radius: 10px;
    text-align: center;
    border-radius: 0px;
    color: #000;
    border-bottom: #fff solid 3px;
}
.asknavbar .customcolor .nav-item > a:hover{
    border-bottom: #b9a560 solid 3px;
    color: #b9a560;
}
.asknavbar .customcolor .nav-item a.active {
    border-bottom: #b9a560 solid 3px;
    color: #b9a560;
    width: auto;
}
.asknavbar .customcolor .nav-item.active >a {
   color: #fff;
}

