<div class="row">
  <div class="col-md-12">
      <button class="btn btn-primary pull-right" (click)="addNewPage(); bannerModaltitle='New Banner'"><i class="fa fa-plus" aria-hidden="true"></i> Add new</button>
      <table class="table table-bordered">
          <thead>
           <tr>
             <th>Page title</th>
             <th>Description</th>
             <th></th>
             <th></th>
             <th></th>
           </tr>
          </thead>
          <tbody>
           <tr *ngFor="let image of pageContent;let i = index">
             <td>
                  {{image.title}}
             </td>
             <td>
                  {{image.description}}
             </td>
             <td>
                <i class="fa fa-eye" aria-hidden="true"></i>
             </td>
             <td class="text-center">
                  <button type="button" class="text_btn" (click)="editBanner(image, content) ;bannerModaltitle='Edit Banner'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
             </td>
             <td class="text-center">
                  <button type="button" class="text_btn" (click)="deleteBanner(image)" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>                           
             </td>
           </tr>
          </tbody>
         <!-- <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>      -->    
      </table>
  </div>
</div>