<div class="row">
    <div class="container-fluid">
        <button class="btn btn-primary pull-right" (click)="addNewPage(); bannerModaltitle='New Banner'"><i class="fa fa-plus" aria-hidden="true"></i> Add new</button>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <ngx-datatable 
            class="material"
            [columnMode]="'force'"
            [headerHeight]="40"
            [footerHeight]="40"
            [rowHeight]="'auto'"
            [rows]="pageContent">
            <ngx-datatable-column name="Project Title" prop="title"   >
                <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{value}}
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Description" prop="description" >
                <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span [innerHtml]="value"></span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Created" prop="created_at" >
                <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{value}}
                </ng-template>
            </ngx-datatable-column>
            
        
            <ngx-datatable-column name="Edit"  >
                <ng-template let-value="value"  let-rowIndex="rowIndex" let-row="row"  ngx-datatable-cell-template>
                    <button type="button" class="icon-btn" (click)="editPage(row) ;bannerModaltitle='Edit Banner'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>   
                    <button type="button" hideByRole class="icon-btn" (click)="deletePage(rowIndex)" ><i class="fa fa-trash" aria-hidden="true"></i> </button>       
                </ng-template>
            </ngx-datatable-column>
        
        </ngx-datatable>
    </div>
</div>



