.alert-icon{
    display: table;
    margin: 0px auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.alert-icon i{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 42px;
}

.modal-footer button{
    min-width:100px;
}

.warinig-border{
    border: 2px solid #ffc107 !important;
}

.danger-border{
    border:2px solid  #dc3545  !important;
}

.success-border{
    border: 2px solid #28a745  !important;
}