<section *ngIf="services_section_content">
<div class="container">
    <div class="headdingsection">
                 <ul class="list-unstyled askhaed">
                    <li class="media">
                       <img class="align-self-end mr-3" src="assets/images/head_leftimg.jpg" alt="   ">
                       <div class="media-body custom-body">
                          <p class="mb-0">{{ services_section_content?.properties.intro_title }} </p>
                          <h2 class="mt-1 mb-0">{{ pageContent?.title }}</h2>
                       </div>
                    </li>
                 </ul>
              </div>          
  </div>

  <div class="container">
      <div class="row">
      <div class="col-md-12 projecthaed" [innerHTML]="pageContent?.description"></div>
      </div>
      </div>
    </section>

    <div class="container">

        <div class="servicesection">
        
        
        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <ng-container *ngFor="let service of servicesList; let i = index">
          <li class="nav-item">
            <a class="nav-link active" [class.active]="currentService?.id == service?.id" id="pills-home-tab" data-toggle="pill"   role="tab" aria-controls="pills-home" aria-selected="true"  (click)="setServiceContent(service)">{{service.title}}</a>
          </li>
          </ng-container>
        </ul>
        <div class="tab-content servicesce" id="pills-tabContent" *ngIf="currentService">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <p class="mt-3"  [innerHTML]="currentService?.shortDescription">
            </p>
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 ">
                <div class="imagessec">
                  <img [src]="img_url + currentService?.featuredImage" class="img-fluid">
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 imagessec_description">
                <div class="custmservice"  [innerHTML]="currentService?.description">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>   
    <div class="custombulding"></div>    