<div class="content"  *ngIf="project_section_content">
   <div class="container">
      <div class="headdingsection">
         <ul class="list-unstyled askhaed">
            <li class="media">
               <img class="align-self-end mr-3" src="assets/images/head_leftimg.jpg" alt="   ">
               <div class="media-body custom-body">
                  <p class="mb-0">{{ project_section_content?.properties.intro_title }}</p>
                  <h2 class="mt-1 mb-0">{{ pageContent?.title }}</h2>
               </div>
            </li>
         </ul>
      </div>
      <div class="row">
         <div class="col-md-12 projecthaed" [innerHTML]="pageContent?.description"></div>
         </div>
      </div>
      </div>

      <div class="container">
      <div class="row">
        <div class="col-md-12 projecttabs">
           <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist" >
              <ng-container *ngFor="let category of categoryList; let i = index">
                <li class="nav-item" >
                    <a  class="nav-link" [class.active]="category.id == currentProjectId" id="pills-home-tab" data-toggle="pill"  (click)="setProjectContent(category.id, i)" role="tab" aria-controls="pills-one" aria-selected="true"> {{category.title}}</a>
                </li>
              </ng-container>

           </ul>
           <div class="tab-content customtabpane" id="pills-tabContent">

              <div  class="tab-pane fade show" class="active"  id="pills-one"  role="tabpanel" aria-labelledby="pills-home-tab" >

                <div class="row" *ngIf="projectList != undefined">

                    <p class="text-center d-block" *ngIf="projectList.length==0">No Projects Found.</p>
                    <ng-container  *ngFor="let project of projectList; let i=index">
                    <div class="col-md-4 col-sm-6" >

                       <div class="box">
                          <img [src]="img_url + project.image" class="img-fluid">
                          <div class="box-content">
                             <span class="post">{{ project.title }}</span>
                             <div class="title">
                                <div class="title"> <a href="javascript:void(0);" class="btn viewbtn">VIEW</a></div>
                             </div>
                          </div>
                       </div>

                    </div>
                  </ng-container>
                 </div>

              </div>

           </div>
        </div>
     </div>
    </div>
