<div class="content"  *ngIf="project_section_content">
   <div class="container">
      <div class="headdingsection">
         <ul class="list-unstyled askhaed">
            <li class="media">
               <img class="align-self-end mr-3" src="assets/images/head_leftimg.jpg" alt="   ">
               <div class="media-body custom-body">
                  <p class="mb-0">{{ project_section_content?.properties.intro_title }}</p>
                  <h2 class="mt-1 mb-0">{{ project_section_content?.properties.main_title }}</h2>
               </div>
            </li>
         </ul>
      </div>
      <div class="row">
         <div class="col-md-12 projecthaed" [innerHTML]="project_section_content?.properties.mian_description"></div>
         </div>
      </div>
      </div>
    
      <div class="container">
      <div class="row">
        <div class="col-md-12 projecttabs">
           <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist" >
              <ng-container *ngFor="let category of categoryList; let i = index">
                <li class="nav-item" >
                    <a  class="nav-link" [ngClass]="{'active':i==activeIndex }" id="pills-home-tab" data-toggle="pill"  (click)="setProjectContent(i)" role="tab" aria-controls="pills-one" aria-selected="true"> {{category.title}}</a>
                </li>
              </ng-container>
          
           </ul>
           <div class="tab-content customtabpane" id="pills-tabContent">
             <ng-container  *ngFor="let category of categoryList; let i = index">
              <div  class="tab-pane fade show" [ngClass]="{'active':i==activeIndex}" id="pills-one"  role="tabpanel" aria-labelledby="pills-home-tab" >
                 <div class="row" >
                    <div class="col-md-4 col-sm-6" *ngFor="let project of projectList;" >

                       <div class="box">
                          <img [src]="img_url + project.image" class="img-fluid">
                          <div class="box-content">
                             <span class="post">{{ project.title }}</span>
                             <div class="title">
                                <div class="title"> <a href="javascript:void(0);" class="btn viewbtn">VIEW</a></div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>         
              </div>
            </ng-container>
           </div>
              <nav class="customright">
                    <ul class="pagination">
                       <li class="page-item "><a class="page-link" href="javascript:void(0);">Previous</a></li>
                       <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                       <li class="page-item active"><a class="page-link" href="javascript:void(0);">2</a></li>
                       <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                       <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                    </ul>
                 </nav>
        </div>
     </div>
    </div>
