<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
        <ng-template ngbPanelTitle >
            Page Images
        </ng-template>
        <ng-template ngbPanelContent>
                <fieldset class="form-group col-md-5">
                    <label>Title</label>
                    <input class="form-control col-md-3" name="title"   placeholder="Enter title" id="log-title" required>
                </fieldset>
        </ng-template>
    </ngb-panel>
</ngb-accordion>