.menu-accordion .card , .menu-accordion .card-header{
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
}

.menu-accordion .card {
    margin-bottom: 10px;
}

.menu-accordion .card .card-header a{
    color: #464545;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu-accordion .card  .icon-btn {
    height: auto;
    width: auto;
}