<div class="col-sm-12">
  <button class="btn btn-primary pull-right" type="button" (click)="openModal(content); modalTitle='Add Menu'" ><i class="fa fa-plus" aria-hidden="true"></i> Add New</button><div class="card col-sm-12" >
</div>

<!-- accordian design -->
<ngb-accordion [closeOthers]="true">
    <ng-container *ngFor="let menu of menuList; let i = index ">
      <ngb-panel [id]="'static-'+i">
        <ng-template ngbPanelTitle>
          <span><b>{{menu.title}}</b></span>
          <button class="text_btn text-danger pull-right" (click)="deleteMenu(menu)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          <button class="text_btn pull-right"   (click)="openModal(content, menu);modalTitle='Edit Menu'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
              <p class="text-muted"><strong>Link : </strong>
                <span *ngIf="menu.linkType == 'custom'">
                    {{menu.customLink}}<small class="text-muted"> (custom)</small>
                </span>
                <span *ngIf="menu.linkType == 'page'">
                    {{menu.pageSlug}}<small class="text-muted"> (page)</small>
                </span>
              </p>
          </div>
          <div class="row">
              <caption>Child Menus</caption>
              <table class="table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let child of menu.children; let j = index ">
                    <td>{{ child.title }}</td>
                    <td>
                        <p *ngIf="child.linkType == 'custom'">
                            {{child.customLink}}<small class="text-muted"> (custom)</small>
                        </p>
                        <p *ngIf="child.linkType == 'page'">
                            {{child.pageSlug}}<small class="text-muted"> (page)</small>
                        </p>
                    </td>
                    <td>
                        <button class="text_btn"   (click)="openModal(content, child);modalTitle='Edit Menu'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                        <button class="text_btn text-danger pull-right" (click)="deleteMenu(child)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                  </tr>
                  <tr *ngIf="menu.children.length <= 0">
                    <td colspan="3" class="text-warning">No Child Menus</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion>
  <!-- accordian dfesign end -->


  <!--Add New Menu Item Panel-->


  <!--- Modal -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{modalTitle}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form [formGroup]="form" >
            <div class="form-group">
              <label for="menutitle">Enter menu title:</label>
              <input type="text" class="form-control" name="menuTittle" formControlName="title"  id="menutitle" aria-describedby="menutitle"  required>
              <div class="form-control-feedback text-danger" *ngIf="form.get('title').errors && (form.get('title').dirty || form.get('title').touched)">
                <p *ngIf="form.get('title').errors.required">Title is required</p>
                <p *ngIf="form.get('title').errors.minlength">Title must be {{ form.get('title').errors.minlength.requiredLength }} characters long</p>
              </div>
            </div>

            <div class="form-group">
              <label for="menutitle">Select Link Type:</label>
              <select class="form-control" formControlName="linkType">
                <option value="custom">Custom Link</option>
                <option value="page">Page Link</option>
              </select>
            </div>
            <div class="form-group" [hidden]="!(form.get('linkType').value == 'custom')">
              <label for="menutitle">Enter custom link:</label>
              <input type="text" class="form-control" name="menuTittle"  [required]="form.get('linkType').value == 'custom'" formControlName="customLink" >
              <div class="form-control-feedback text-danger" *ngIf="form.get('customLink').errors && (form.get('customLink').dirty || form.get('customLink').touched)">
                <p *ngIf="form.get('customLink').errors.required">Custom link is required</p>
              </div>
            </div>
            <div class="form-group" [hidden]="!(form.get('linkType').value == 'page')">
              <label for="menutitle">Select the page:</label>
              <select  formControlName="pageSlug" class="form-control" [required]="form.get('linkType').value == 'page'">
                <option value="">Select a page</option>
                <option *ngFor="let page of pageList" [value]="page.slug">{{ page.title }}</option>
              </select>
              <div class="form-control-feedback text-danger" *ngIf="form.get('pageSlug').errors && (form.get('pageSlug').dirty || form.get('pageSlug').touched)">
                <p *ngIf="form.get('pageSlug').errors.required">Page slug is required</p>
              </div>
            </div>
            <div class="form-group">
              <label for="menutitle">Select Menu Type:</label>
              <select class="form-control" formControlName="menuType">
                <option value="primary">Primary Menu</option>
                <option value="secondary">Secondary Menu</option>
                <option value="sidebar1">Sidebar 1</option>
                <option value="sidebar2">Sidebar 2</option>
                <option value="footer1">Footer 1</option>
                <option value="footer2">Footer 2</option>
                <option value="footer3">Footer 3</option>
                <option value="footer4">Footer 4</option>
                <option value="social">Social Menu</option>
              </select>
            </div>
            <div class="form-group">
              <label for="menutitle">Parent Menu</label>
              <select  formControlName="parent_id" class="form-control">
                <option value="">None</option>
                <option *ngFor="let menu of menuList" [value]="menu.id">{{ menu.title }}</option>
              </select>
            </div>
            <button *ngIf="modalTitle == 'Add Menu'" [disabled]="form.invalid" type="submit" class="btn btn-primary pull-right" (click)="addNewMenu()" ><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            <button *ngIf="modalTitle == 'Edit Menu'" [disabled]="form.invalid" type="submit" class="btn btn-primary pull-right" (click)="editMenu()" ><i class="fa fa-plus" aria-hidden="true"></i> Update</button>
        </form>
      </div>
    </div>
  </ng-template>


