.main_container{
    height: 100vh;
    position: relative;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    background: url(/assets/images/DSCN0216.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.eye{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.login-wraper{
    width: 390px;
    margin: 0px auto;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 0px;
    -webkit-box-shadow: 2px 3px 9px 1px #00000017;
    box-shadow: 2px 3px 9px 1px #00000017;
    min-height: 466px;
}
.login-wraper .header{
    border-bottom: #675d402b solid 1px;
    background-color: #fff;
}
.login-wraper .body{
    padding: 30px 20px 10px 20px;
    text-align: center;
}
.login-wraper .footer{
    padding: 0px 20px 20px 20px;
    text-align: center;
}
.logo{
    background: url(/assets/images/FRONT.jpg);
    width: 114px;
    height: 111px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 14px auto;
    background-color: #bba45e;
}

.login-wraper input{
    background-color: #f2f2f2;
    border: none;
    border-radius: 0px;
    height: 50px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #f2f2f2 !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

.login-btn{
    margin: 0px auto;
    background-color: #baa35f;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.login-btn:disabled{
    opacity: 0.5;
    cursor: default;
}

.forgot_password{
    margin-top: 10px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
    float: right;
}

.form-group{
  min-height: 68px;
  margin-bottom: 0.2rem;
}

.caps-lock-alert
{
background-color: #020202;
display: inline ;
padding: 5px 10px;
color: #fff !important;
border-radius: 4px;
position: absolute;
top: -34px;
left: 0px;
}



.caps-lock-alert:after{
    z-index: 1;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 7px #020202;
    border-left: solid 8px transparent;
    border-right: solid 2px transparent;
    left: 7px;
    bottom: -7px;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}