<section class="main_container d-flex align-items-center">
    <div class="login-wraper">
        <div class="header">
            <div class="logo"> </div>
        </div>

        <div class="body">
            <form action="" *ngIf="view=='login'" class="tab-pane active" id="signin"  role="tabpanel" aria-labelledby="signin-tab"  [formGroup]="loginForm" (ngSubmit)="login()" (keyup)="errorMsg=''">
                <div class="alert alert-danger" *ngIf="errorMsg">
                {{errorMsg}}
                </div>
                <div class="form-group">
                  <input type="email" name="email" formControlName="email" placeholder="Email address"  class="form-control" id="log-email">
                  <small class="small text-danger d-block  text-left" *ngIf="loginForm.get('email').errors  && loginForm.get('email').touched">
                      <div *ngIf="loginForm.get('email').errors.required">Email is required</div>
                      <div *ngIf="loginForm?.get('email').errors?.email">Invalid email id</div>
                  </small>
                </div>
                <div class="form-group position-relative">
                    <i class="eye fa  " [ngClass]="{'fa-eye':!showPassword,'fa-eye-slash':showPassword}" aria-hidden="true" (click)="togglePassword()"></i>
                    <input  [type]="!showPassword ? 'password' : 'text'"  name="password" formControlName="password"  placeholder="Password"  class="form-control" id="log-pwd" (keypress)="eventHandler($event)" oncopy="return false" onpaste="return false">
                    <small class="small text-danger d-block  text-left" *ngIf="loginForm.get('password').errors  && loginForm.get('password').touched">
                     <div *ngIf="loginForm.get('password').errors.required">Password is required</div>
                     
                    </small>
                    <div class="small text-danger text-left caps-lock-alert"  [hidden]="!capsLockEnabled"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Caps lock is on</div>
                </div>
                <div class="text-center" *ngIf="view=='login'" ><button type="submit" class="btn -btn-primary login-btn" [disabled]="!loginForm.valid">Login</button></div>
            </form>
            <form #forgotForm="ngForm" *ngIf="view!='login'">
                <div class="alert alert-danger" *ngIf="ferrorMsg">
                    {{ferrorMsg}}
                </div>
                <div class="alert alert-success" *ngIf="successMsg">
                    {{successMsg}}
                </div>
                <div class="form-group">
                    <input type="email" name="email"  ngModel (focus)="ferrorMsg=''"   #email="ngModel" placeholder="Email Address"  class="form-control" email id="log-email" required>
                    <small class="small text-danger" *ngIf="email.invalid && email.touched">Please enter email </small>
                </div>
                <div class="text-center" *ngIf="view!='login'"><button type="submit" class="btn -btn-primary login-btn" [disabled]="!forgotForm.valid" (click)="getNewPass(forgotForm.value)" >Get New Pasword</button></div>
            </form>
        </div>

        <div class="footer">
            <p *ngIf="view=='login'" class="text-right text-secondary forgot_password" (click)="view='forgot'">Forgot password?</p>
            <p *ngIf="view!='login'" class="text-right text-secondary forgot_password" (click)="view='login'">Back to login</p>
        </div>

    </div>
  </section>
