<section class="main_container">
    <div class="login-wraper">
        <div class="header">
            <div class="logo"> </div>
        </div>
        
        <div class="body">
            <form action="" class="tab-pane active" id="signin"  role="tabpanel" aria-labelledby="signin-tab"  #f="ngForm" (ngSubmit)="login(f.value)" (keyup)="errorMsg=''" novalidate>
                <div class="alert alert-danger" *ngIf="errorMsg">
                {{errorMsg}}
                </div>
                <div class="form-group">
                    <input type="email" name="email"  ngModel   #email="ngModel" placeholder="Email address"  class="form-control" id="log-email" required>
                    <small class="small text-danger" *ngIf="email.invalid && email.touched">Please enter your first name </small>
                </div>
                <div class="form-group">
                    <input type="password" name="password" ngModel  placeholder="Password"  #password="ngModel" class="form-control" id="log-pwd"  required>
                    <small class="small text-danger" *ngIf="password.invalid && password.touched">Please enter your first name </small>
                </div>
            </form>
        </div>

        <div class="footer">
            <div class="text-center"><button type="submit" class="btn -btn-primary login-btn" [disabled]="!f.valid" (click)="login(f.value)" >Submit</button></div>
        </div>

    </div>


  </section>
