<div class="height-wrapper">
  <div class="content"   *ngIf="aboutus_section_content">
    <div class="container">
      <div class="headdingsection">
          <ul class="list-unstyled askhaed">
            <li class="media">
                <img class="align-self-end mr-3" src="assets/images/head_leftimg.jpg" alt="   ">
                <div class="media-body custom-body align-self-center">
                  <!-- <p class="mb-0">{{ aboutus_section_content?.properties.intro_title }} </p> -->
                  <h2 class="mt-1 mb-0">{{ pageContent?.title }}</h2>
                </div>
            </li>
          </ul>
      </div>
      <div class="row nopaddingclass">
          <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="detail" [innerHTML]="pageContent?.description">
            </div>
        </div>

            <div class="col-lg-4 col-md-4 col-sm-6 about-company">
              <div class=" about-imgs  d-none d-md-block  ">
                  <div class="row">
                    <div class=" customask-left">
                        <div class="img-1">
                      <img [src]="img_url+aboutus_section_content?.properties.about_img1" class="img-fluid">
                        </div>
                        <div class="img-2">
                        <img [src]="img_url+aboutus_section_content?.properties.about_img2" class="img-fluid">
                        </div>
                    </div>
                    <div class=" customask-left">
                        <div class="img-3">
                      <img [src]="img_url+aboutus_section_content?.properties.about_img3" class="img-fluid">
                        </div>
                        <div class="img-4">
                      <img [src]="img_url+aboutus_section_content?.properties.about_img4" class="img-fluid">
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>