
<form [formGroup]="sectionForm">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary pull-right ml-2 mt-0" (click)="addNewSection()">
        <i class="fa fa-plus" aria-hidden="true"></i> New Section
      </button>
      <!-- <button class="btn btn-primary pull-right" [hidden]='sections.controls.length<=0' (click)="publishSections()" [disabled]="sectionForm.invalid">
        <i class="fa fa-plus" aria-hidden="true"></i>Publish
      </button> -->
    </div>
    <div class="col-md-6"  [hidden]=true>
      <div >
      
      </div>
    </div>
  </div>



<div class="row">
    <div class="container-fluid" formArrayName="sections">
      <ng-container *ngIf="sectionFlag">
        <ngx-datatable 
            class="material"
            #sectionDatatable
            [columnMode]="'force'"
            [headerHeight]="40"
            [footerHeight]="40"
            [rowHeight]="'auto'"
            [rows]="sectionList">
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail  #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row"  let-expanded="expanded" ngx-datatable-row-detail-template>
           
                <div style="padding-left:35px;">
                  <div  [formGroupName]="getIdByRow(row)" >
                    <div formArrayName="properties">
                        <button type="button" (click)="publishSections()"  [hidden]="sectionForm.invalid || !firstTime" class="btn btn-success btn-sm pull-right "><i aria-hidden="true" class="fa fa-save"></i> Save</button>
                        <button type="button" (click)="addNewProperty(row, getIdByRow(row)); firstTime=true" class="btn btn-primary btn-sm pull-right  mr-1"><i  aria-hidden="true" class="fa fa-plus"></i> Properties</button>
                        
                        <table >
                          <ng-container *ngFor="let property of sections.controls[getIdByRow(row)].get('properties').controls; let j = index;">
                             <tr [formGroupName]="j">
                                <td><input type="text" class="form-control" formControlName="key" required></td>
                                <td><select formControlName="type" class="form-control" required>
                                  <option value="file">File</option>
                                  <option value="text">Text</option>
                                  <option value="string">String</option>
                                  <option value="number"> Number</option>
                                  <option value="link">Link</option>
                                </select></td>
                                <td></td>
                                <td>
                                  <i class="fa fa-trash text-primary icon-btn" (click)="deleteProperty(getIdByRow(row),j)"></i></td>
                              </tr>
                          </ng-container>
                        </table>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>
            <!-- Column Templates -->
            <ngx-datatable-column
              [width]="50"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false">

              <ng-template let-row="row"  let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template>
                <a
                  href="javascript:void(0)"
                  [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row"
                  (click)="toggleExpandRow(row , rowIndex)">
                </a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Section Title" prop="title"   >
              <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span
                  *ngIf="!editing[rowIndex  + '-title']">
                  {{value}}
                </span>
              
                <input
                  class="form-control"
                  autofocus
                  *ngIf="editing[rowIndex  + '-title']"
                  type="text"
                  #val
                  (blur)="editing[rowIndex  + '-value']=val.value"
                  [value]="value"
                />
          
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Created" prop="created_at" >
              <ng-template let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Actions" >
              <ng-template let-value="value" let-row="row"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <ng-container *ngIf="!editing[rowIndex + '-title']" (click)="rowEditMode(rowIndex,true)">
                  <!-- <i class="fa fa-eye icon-btn" aria-hidden="true"></i> -->
                  <i class="fa fa-pencil-square-o icon-btn" aria-hidden="true" (click)="rowEditMode(rowIndex,true)"></i>
                  <button class="fa fa-trash icon-btn" aria-hidden="true" (click)="deleteSection(rowIndex)"></button>   
                </ng-container>
                <div class="row" *ngIf="editing[rowIndex + '-title']">
                  <button class="btn mr-1 cursor-pointer" (click)="rowEditMode(rowIndex,false)">Cancel</button>
                  <button class="btn btn-primary cursor-pointer" (click)="updateEditValue(rowIndex )">Save</button>
                </div>
              </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
      </ng-container>
    </div>
</div>
</form>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Section</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="modalForm">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="title" placeholder="Section Name">
          </div>
          <button class="btn btn-primary"  (click)="saveSection(modalForm); d('Cross click');" type="button">Save</button>
        </div>
      </form>
    </div>
  
  </ng-template>