/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/*  Nav tab  -*/


/* button  */
.btn{
    outline: none;
    border-radius: 0px;
    margin: 10px 0px;
}
.btn:focus , .text_btn:focus{
    outline: none;
}
.text_btn{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: #104756;

}
.closebtn{
    cursor: pointer;
    color: #104756;
}
/* Modal */
.modal-content{
    border-radius: 0px;
}

/* table */
.table {
    background-color:#fff !important;
}


.hidden{
  display: none;
}




/* General */

.clerfix{
    clear: both;
}


/*  datatable */
.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group{
  background-color: #e2e2e2 !important;
}

.card-header a{
  color: #000;
}

/*
input[type=checkbox]{
  padding: 91px;
  width: 25px;
  height: 25px;
  cursor: pointer;
} */

/* image wrapper */
.img_wraper{
  width: 378px;
  height: 171px;
}

.img-prop{
  background-image: url(http://192.168.1.152:52/uploads/section/5b30b5ac8567csect.jpg);
  width: 378px;
  height: 171px;
  background-size: cover !important;
  border-radius: 5px;
}
.img-hover{
  position: relative;
  cursor: pointer;
}
.img-hover:after{
  content: '\F0EE';
  font-family: FontAwesome;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0;
  top: 0px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #fff;
  font-size: 63px;
  text-align: center;
  padding-top: 40px;
  border-radius: 5px;
}
.img_wraper:hover .img-hover:after {
  opacity: 0.5;
}
/* image wrapper end */




@media screen and (max-width: 992px)
{
    .push-right .sidebar {
        left: 235px !important;
        z-index: 9999 !important;
        top: -51px !important;
    }
    .sidebar {
      top: -51px !important;
    }
}