
<form role="form" id="banner"  [formGroup]="pageForm"  novalidate>
    <div class="row justify-content-between">
      <div class="col-md-8">
            <div  class="alert" *ngIf="ErrorObject.show==true" [ngClass]="{'alert-danger':ErrorObject.type=='fail' , 'alert-success':ErrorObject.type=='success'}">
                <ng-container *ngIf="ErrorObject.type=='success'">Page has published successfully! </ng-container>
                <ng-container *ngIf="ErrorObject.type=='fail'">{{ErrorObject.msg}}</ng-container>
            </div>
            <fieldset class="form-group">
                <label>Title</label>
                <input class="form-control" name="title" formControlName="title"    placeholder="Enter title" id="log-title" >
            </fieldset>
            <fieldset class="form-group">
                <label>Description</label>
            </fieldset>
            <ck-editor name="editor1" formControlName="description" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>

            <div class="taskboard-wrapper">
              <div class="taskboard-list">
                <div class="taskboard-cards" [dragula]='"another-bag"' id="no-drop" [dragulaModel]='selectedSection'>
                  <div class="taskboard-task" *ngFor='let section of selectedSection'>
                    <div class="taskboard-task-title">{{ section.title }}</div>
                     <div class="pull-right">
                          <i class="fa fa-edit text-primary" (click)="editProprty(section)"></i>
                          <i class="fa fa-trash text-danger" (click)="deleteProprty(section)" *ngIf="section.id!=null"></i>
                        </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-md-3" >
          <button type="submit" [disabled]="!pageForm.valid" class="btn btn-primary float-right "  (click)="savePage();"  ><i class="fa fa-floppy-o" aria-hidden="true"></i> Publish</button>
          <div class="card clerfix">
            <div class="card-header">
              Properties
            </div>
            <div class="card-body">
              <small class="card-text">Select the new properties to the content.</small>
              <div class="taskboard-wrapper">
                <div class="taskboard-list" >
                  <div class="taskboard-cards"  [dragula]='"another-bag"' [dragulaModel]='pageSectionList'>
                    <div class="taskboard-task" *ngFor='let section of pageSectionList'>
                      <div class="taskboard-task-title">{{ section.title }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-8">
      </div>
    </div>
  </form>
