<form role="form" id="banner" #pageForm="ngForm" (keyup)="errorMsg=''" novalidate>
<div class="row justify-content-between">
  <div class="col-md-8">
     
          <div  class="alert" *ngIf="errorMsgShow" [ngClass]="{'alert-danger':errorMsgType=='fail' , 'alert-success':errorMsgType=='success'}">
              <ng-container *ngIf="errorMsgType=='success'">Thank you for getting in touch!.</ng-container>
              <ng-container *ngIf="errorMsgType=='fail'">Failed to send Your message!</ng-container>
          </div>
          <fieldset class="form-group">
              <label>Title</label>
              <input class="form-control" name="title" [(ngModel)]="pageModal.title"  #title="ngModel"  placeholder="Enter title" id="log-title" required>
              <small class="small text-danger" *ngIf="title.invalid && title.touched">Please enter title </small>
          </fieldset>
          <fieldset class="form-group">
              <label>Description</label>
              <input class="form-control" name="description" [(ngModel)]="pageModal.description"  #description="ngModel"  placeholder="Enter description" id="log-description" >
              <small class="small text-danger" *ngIf="description.invalid && description.touched">Please enter Description </small>
          </fieldset>
         
      <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>   
  </div>
  <div class="col-md-3" >
      <button type="submit" [disabled]="!pageForm.valid" class="btn btn-primary float-right "  (click)="publishPage(pageForm.value);"  ><i class="fa fa-floppy-o" aria-hidden="true"></i> Publish</button>
      <div class="card clerfix">
          <div class="card-header">
            Properties
          </div>
          <div class="card-body">
            <p class="card-text">Select the new properties to the content.</p>
            <select class="form-control" name="Properties"  [(ngModel)]="Properties" >
                <option>Select</option>
                <option value="contactform" >Contact Form</option>
                <option value="banner" >Banner</option>
                <option value="section" >Section</option>
            </select>
            <button type="button" class="btn btn-primary " (click)="addProperties(Properties)">Add to page</button>
          </div>
      </div>
  </div>
</div>

<ng-container *ngFor="let properties of pageProperties">
    <app-section *ngIf="properties.type=='section'"> </app-section>
</ng-container>


</form>

