    

/* slider section */
    .carouseldiv .owl-item img{
        height: 600px;
        width: auto;
    }
    .carouseldiv .carousel-control-prev,.carouseldiv .carousel-control-next{
     display: none;
    }
    .carouseldiv .carousel-indicators li{
        width: 60px;
        height: 10px;
    }
    .carouseldiv .carousel-indicators .active {
        background-color: #1e4464;
        outline: 1px solid #b79d52;
    }
    .carouseldiv .carousel-caption{
        position: absolute;
        right: 65%;
        left: 6%;
        z-index: 10;
        bottom: auto;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
        top: 50%;
        padding: 40px;
        background: rgba(0, 0, 0, 0.4);
    }

    .carouseldiv .owl-dots .owl-dot span{
        border-radius: 0px;
        min-width: 70px;
        background: rgba(255,255,255,.5);
    }

    .carouseldiv .owl-dots .owl-dot.active span{
        background-color: #1e4464;
    }
    
    .carouseldiv .owl-dots .owl-dot{
        outline: none;
    }
    .carouseldiv .owl-dots{
        bottom: 50px;
        position: relative;
        z-index: 9999;
    }
    
  /* slider section */