

/* slider section */
    .carouseldiv{
        min-height: 600px;
    }
    .carouseldiv .owl-item img{
        height: 600px;
        width: auto;
    }
    .carouseldiv .carousel-control-prev,.carouseldiv .carousel-control-next{
     display: none;
    }
    .carouseldiv .carousel-indicators li{
        width: 60px;
        height: 10px;
    }
    .carouseldiv .carousel-indicators .active {
        background-color: #1e4464;
        outline: 1px solid #b79d52;
    }
    .carouseldiv .carousel-caption{
        position: absolute;
        right: 65%;
        left: 6%;
        z-index: 10;
        bottom: auto;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
        top: 50%;
        padding: 40px;
        background: rgba(0, 0, 0, 0.4);
    }

    .carouseldiv .owl-dots .owl-dot span{
        border-radius: 0px;
        min-width: 70px;
        background: rgba(255,255,255,.5);
    }

    .carouseldiv .owl-dots .owl-dot.active span{
        background-color: #1e4464;
    }

    .carouseldiv .owl-dots .owl-dot{
        outline: none;
    }
    .carouseldiv .owl-dots{
        bottom: 50px;
        position: relative;
        z-index: 9999;
    }



    .home-slider .owl-theme .owl-nav.disabled + .owl-dots {
        position: absolute;
        width: 100%;
    }
    .home-slider .owl-dots {
        bottom: 30px;
        position: relative;
        z-index: 9999;
    }

  /* slider section */

  .banner{
        background: url('../../../../assets/images/bannerimage.jpg');
        height: 240px;
        background-size: cover;
    }


@media(max-width: 1200px)
{

    .asknavbar .customcolor .nav-item
    {
        padding-right: 12px;
        padding-left: 12px;
    }
}

@media(max-width: 992px){

    .asknavbar
    {
        right: 0;
        left: 0;
    }
    .carouseldiv .carousel-caption {
        position: absolute;
        right: auto;
        left: 50%;
        z-index: 10;
        bottom: auto;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
        top: 65%;
        padding: 40px;
        transform: translateX(-50%) translateY(-50%);
        margin: 0 auto;
        text-align: center;
        width: 90%;
        background: rgba(0, 0, 0, 0.4);
    }
}

