
<app-menu></app-menu>
<section class="carouseldiv" *ngIf="page==''">
  <owl-carousel
    [options]="{items: 1, dots: true, navigation: true}"
    [items]="sliderContent"
    [carouselClasses]="['owl-theme',  'sliding']">
    <div class="item" *ngFor="let image of sliderContent;let i = index">
      <div class="thumbnail-image"  [ngStyle]="{'background': 'url('+imgUrl+image.bannerimg+')no-repeat scroll center center' ,  'height':'600px' , 'background-size': 'cover' }" >
        <div class="carousel-caption ">
       <p>{{image.title}}</p>
       <h2>{{image.description}}
       </h2>
        </div>
      </div>
    </div>
  </owl-carousel>
</section>

<!--- Static Banner -->
<section class="carouseldiv" *ngIf="page!=''">
  <div class="banner">
      <div class="container">

      </div>
  </div>
</section>